.outline{
    /* border: solid 1px rgb(36, 38, 38); */
    border-radius: 5px;
    
}
.outline:hover
{
    border: white solid 1px;
}
.PO:hover
{

    
    cursor: pointer;
}
.light-O
{
    opacity: 100;
     visibility:hidden;
    transition: visibility ;
}

.info-con
{

}
